.accordian-item {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .accordian-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
  }


  .accordian-content {
    padding: 0.75rem 0;
    font-size: 0.95rem;
    color: #555;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .arrow-up,
  .arrow-down {
    transition: transform 0.3s ease-in-out;
  }

  .arrow-down {
    transform: rotate(180deg);
  }
